* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.container > div,
header {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.region {
  margin-bottom: 10px;
}

.region > * {
  margin-top: 5px;
}
